.elements__list {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  gap: 20px 17px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

@media all and (max-width: 900px) {
  .elements__list {
    grid-template-columns: repeat(2, max-content);
  }
}

@media all and (max-width: 620px) {
  .elements__list {
    grid-template-columns: repeat(1, max-content);
  }
}