.profile__info-name {
  margin: 0 18px 10px 0;
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 1.14; /* 48px;*/
  text-align: left;
  grid-area: name;
  max-width: 400px;
}

@media all and (max-width: 620px) {
  .profile__info-name {
    text-align: center;
    font-size: 27px;
    line-height: 1.22; /* 33px;*/
    margin: 0 10px 6px 0;
    max-width: 200px;
  }
}