.profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 0 24px;
}

@media all and (max-width: 880px) {
  .profile {
    justify-content: center;
  }
}

@media all and (max-width: 620px) {
  .profile {
    flex-direction: column;
  }
}