.info-tooltip {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 430px;
  min-height: 330px;
  gap: 32px;
  background: #fff;
  padding: 60px 36px;
  border-radius: 10px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
}
